body{

background-color: #121212;

}
.navbar .navbar-brand{

font-weight: bolder;


}

.navbar{

    background-color: #1B1B1B;

}
.navbar .nav-item:hover {
background-color: #232323;
border:none ;
outline: none;
border-radius:7px;

}

.bg-dark{
    background-color: #1B1B1B !important;

}

.border-dark{
    border-color:#333333 !important;
}

.head p{
    
color:    #A1A1A1;
 
}

.custom .btn-dark {
  background-color: #1b1b1b;
  border: 1px solid #333;
  color: #fff;
}
.custom .dropdown-menu a{
    font-weight: bold;
    font-size: small;
}
